
hr{
    position: relative;
    left:19%;
    margin-bottom: 15px;
    width: 60%;
}

.qualification_main{
    width:100%;
    /* height:100vh; */
    position: relative;
    overflow: hidden;
    z-index:100;
}

.qualification_heading{
     width:100%;
     text-align:center;
     font-size:30px;
     color:white;
     font-weight:bolder;
     margin-top: 20px;
     text-decoration: underline;
     text-underline-offset:6px;
}

.qualification_section{
    position: relative;
    display:flex;
    margin-top:10%;
    justify-content: space-around;
    cursor: pointer;
    transition: all 2s ease-in-out;
}

.qualification_section  div > p{
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size:25px;
}


.qualification_content{
    transition:all 2s ease-in;
}

.qualification , .experience {
    color:white;
    /* height: 100vh; */
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.ul_seperator{
     position: relative;
     left:-17px;
}
.ul_seperator li{
    padding-bottom:25px;
    position: relative;
}

.ul_seperator li p {
    padding-top: 10px;
    margin:0;
}

.experience{
    position: relative;
    display:none;
}

@media (max-width:380px){
    .qualification_section{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 22vh;
    }
}

.active{
    color:yellow;
}
.non-active{
    color:white;
}